<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-header card-header-primary">

            </div>
            <div class="card-body">
                <h2>You have been logged out</h2>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        <a class="ml-2" href="{% url 'login' %}">Log In Again</a>
                    </small>
                </div>




                <br />


            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}